<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="['/first']"
            >First</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="['/second']"
            >Second</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="['/third']"
            >Third</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="['/four']"
            >Four</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="['/five']"
            >Five</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            [routerLink]="['/loginRegister']"
            >Login/Register</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="['/six']"
            >Six</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="['/dependency']"
            >Dependency</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
